In [1]:
from datasets import Dataset

ds = Dataset.load_from_disk("../data/02_intermediate/")
ds

Dataset({
    features: ['page_url', 'law_page_url', 'text'],
    num_rows: 6746
})

In [2]:
from nltk import sent_tokenize, word_tokenize

ds = ds.map(
    lambda x: {
        "char_count": len(x['text']),
        "word_count": len(word_tokenize(x['text'], language='german')),
        "sent_count": len(sent_tokenize(x['text'], language='german')),
    }
)

Map:   0%|          | 0/6746 [00:00<?, ? examples/s]

In [4]:
ds.set_format('pandas')
df = ds.select_columns(["law_page_url", "char_count", "word_count", "sent_count"])[:]

In [5]:
import pandas as pd

pd.set_option("display.float_format", lambda x: '%.1f' % x)
df.describe(percentiles=[q*0.1 for q in range(10)])

       char_count  word_count  sent_count
count      6746.0      6746.0      6746.0
mean      20191.1      3018.0        78.9
std       67810.0     10136.1       281.7
min         186.0        30.0         1.0
0%          186.0        30.0         1.0
10%         547.5        80.0         4.0
20%        1056.0       161.0         5.0
30%        1748.0       268.0         9.0
40%        2381.0       379.0        13.0
50%        3903.5       605.5        18.0
60%        7348.0      1104.0        30.0
70%       12549.5      1850.5        49.0
80%       20882.0      3098.0        81.0
90%       43324.0      6427.0       167.0
max     2076186.0    298061.0     10427.0